# Ignore node_modules directory
node_modules/

# Ignore built files
dist/
build/

# Ignore environment variables
.env

# Ignore logs
logs/

# Ignore test coverage reports
coverage/

# Ignore build artifacts
*.bak
*.swp
*.tmp
*.log
*.DS_Store

# sqlite db
*.db 
*.sqlite 
*.sqlite3